.parallax-window.flex.flex-column.items-center.justify-center{style: "height: 100%"}
  %div{style: "margin-top: -20%;"}
    .h1.orange.barrio{style: "font-size: 4em;"} SpotRepo
    .h2.barrio.yellow{style: "font-size: 3em;"} Repository of skatespots worldwide
.bg-white.center{style: "min-height: 50%"}
  .max-width-4.mx-auto
    %h1.mt4.mb2.orange.barrio Featured Spots
    .clearfix.p4
      - @featured_spots.each do |spot|
        = link_to spot_path(spot), class: "pointer" do
          .col.col-12.sm-col.sm-col-4.p2
            .h2.my2.barrio.black= spot.name
            = image_tag "info_box_images/#{spot.infobox_image}"


.bg-orange{style: "height: 100%;"}
  .h1.orange SpotRepo

-content_for :after_js do
  :javascript
    jQuery('.parallax-window').parallax({imageSrc: "#{asset_path "sb-wallpaper-orange-overlay-40"}"});
