.max-width-4.mx-auto
  .clearfix
    .col.col-12
      .py2
        %h1 Profile
        %h2= current_user.email
    .col.col-12
      %h1 My footy
      .clearfix
        - @media.each do |medium|
          .col.col-3{id: medium.id}
            = image_tag "http://#{medium.s3_path}", class: 'fit', style: 'max-height: 150px;'
            = link_to medium_path(medium), remote: true, method: :delete, data: {confirm: "Are you sure?"} do
              = icon('trash', class: 'black')


= content_for(:after_js) do
  :javascript
    $(document).ready(function(){
      $(document).on('ajax:success', function(e, data, status, xhr){
        $('#' + data.medium_id).remove();
        $('.topnav').after(data.flash_html);
        $('[data-dismiss=flash]').on('click', function(){
          $(this).parents('.flash').slideUp();
        });
      }).on('ajax:error',function(e, xhr, status, error){
        // Error happened
      });
    });
  